<form method="post" action="{{ path('app_application_delete', { id: application.id }) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet article');">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}" />
  <button class="btn btn-danger">Supprimer</button>
</form>
