<form method="post" action="{{ path('app_homepage_delete', {'id': homepage.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer la page d'accueil?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ homepage.id) }}">
	<button class="btn btn-danger mb-5">Supprimer</button>
</form>
