h1,
h2,
h4 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.h2-style,
.p-style {
    font-family: 'Dancing Script', cursive;
}

.navcolor {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-link {
    color: black;
}

a {
    color: black !important;
    padding: 0px;
}

.navbar-toggler-icon {
    color: black;
}

.hamb-menu-lien {
    text-decoration: underline !important;
}