h1 h2,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.h2-style,
.p-style {
    font-family: 'Dancing Script', cursive;
}

.p_dark_blue {
    font-family: 'Lato', sans-serif;
    color: #264B9A;
    font-weight: bold;
}

.p_blue {
    font-family: 'Quicksand', sans-serif;
    color: #1182C9;
}

.p_green {
    font-family: 'Quicksand', sans-serif;
    color: #5EA92B;
}

.custom-icon-1 {
    color: #264B9A;
    /* Couleur pour la première icône */
}

.custom-icon-2 {
    color: #197935;
    /* Couleur pour la deuxième icône */
}

.custom-icon-3 {
    color: #FBBB3E;
    /* Couleur pour la troisième icône */
}

.bg-footer {
    background-color: #264B9A;
    color: white !important;
}

.navcolor {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-link {
    color: black !important;
}

a {
    color: black;
    padding: 0px;
}

.navbar-toggler-icon {
    color: black;
}

/* Encadrement rouge du logo au survol */
.logo-hover {
    transition: box-shadow 0.3s ease-in-out;
    /* Transition lisse pour l'effet de survol */
}

.logo-hover:hover {
    box-shadow: 1px 1px 1px 1px #197935;
    /* Création un "contour" rouge sans affecter la taille de l'élément */
    border-radius: 0px;
    /* Arrondi des coins de l'ombre */
}

/* Soulignement rouge des menus au survol */
.menu-item {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.menu-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    /* Épaisseur du soulignement */
    bottom: -3px;
    /* Position du soulignement sous le texte */
    left: 50%;
    background-color: #197935;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu-item:hover::after {
    width: 100%;
    left: 0;
}

.menu-item:hover {
    color: #197935;
    /* Change la couleur du texte au survol si nécessaire */
}

.dropdown-item {
    font-size: 16px;
}

.dropdown-item-hover:hover {
    background-color: #197935 !important;
    color: #F0F0F1 !important;
}

.hamb-menu-lien {
    text-decoration: underline !important;
}

.promise-lien {
    text-decoration: underline !important;
    color: white;
}

.promise-lien:hover {
    text-decoration: underline !important;
    color: #264B9A;
}

.bandeau-promo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Commence à partir du côté gauche du conteneur */
    white-space: nowrap;
    overflow: hidden;
    background-color: #264B9A;
    color: white;
    padding: 20px;
    position: relative;
    /* Position relative pour le positionnement absolu du texte */
}

.bandeau-promo p {
    position: absolute;
    /* Positionnement absolu */
    left: 100%;
    /* Commence en dehors du bandeau, à droite */
    margin: 0;
    animation: defilement 25s linear infinite;
}

@keyframes defilement {
    0% {
        left: 100%;
    }

    /* Début de l'animation hors du bandeau, à droite */
    100% {
        left: -100%;
    }

    /* Fin de l'animation hors du bandeau, à gauche */
}

/* Lien bandeau promotionnel VOIR L'OFFRE */
body>div.bandeau-promo>p>a {
    color: white;
    text-decoration: underline;
}

/* Lien bandeau footer (liens légales et section application) */
body>div.text-center.p-4.bg-footer>small>a:nth-child(1),
body>div.text-center.p-4.bg-footer>small>a:nth-child(2),
body>div.text-center.p-4.bg-footer>small>a:nth-child(3),
body>div.text-center.p-4.bg-footer>small>a:nth-child(4),
body>div.application-section.px-5.py-5>div:nth-child(2)>div:nth-child(1)>h4>a,
body>div.application-section.px-5.py-5>div:nth-child(2)>div:nth-child(2)>h4>a,
body>div.application-section.px-5.py-5>div:nth-child(3)>div:nth-child(1)>h4>a,
body>div.application-section.px-5.py-5>div:nth-child(3)>div:nth-child(2)>h4>a {
    color: white;
    text-decoration: none;
}

/* Hero section accueil */
.hero-section {
    /* background-image: url('https://127.0.0.1:8000/images/homepage/robert_cuisines_cuisine_bois.jpg'); */
    background-size: cover;
    background-position: center;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Hero section paragraphe */
body>div.hero-section.bg-primary.text-white.px-5.py-5>p:nth-child(2) {
    font-size: 17px;
}

/* BTN hero section */
.btn-hero-section {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn-hero-section:hover,
.btn-hero-section:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #197935;
}

.btn-hero-section:hover {
    transform: translateY(-1px);
}

.btn-hero-section:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* BTN contact */
.btn-contact {
    align-items: center;
    background-color: #197935;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #F0F0F1;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn-contact:hover,
.btn-contact:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: #ffca0a;
    color: black;
}

.btn-contact:hover {
    transform: translateY(-1px);
}

.btn-contact:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* Promise section */
.promise-section {
    background-color: #197935;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.img-reunion {
    border-radius: 50%;
}

/* Application section */
.application-section {
    background-color: #1182C9;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

/* About section */
.about-section {
    background-color: #197935;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.video-background {
    position: relative;
    width: 100%;
    height: 400px;
    /* ou la hauteur que vous souhaitez */
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    /* Votre style pour le contenu ici */
}

#materiauxModal>div>div>div.modal-body>ul {
    font-family: 'Lato', sans-serif;
}

.nav-footer-small {
    color: #F0F0F1;
    text-decoration: none;
}

.nav-footer-small:hover {
    color: #ffca0a;
    text-decoration: none;
}

/* Application page hero section */
.hero-section-application-1 {
    /* background-image: url('https://127.0.0.1:8000/images/homepage/robert_cuisines_cuisine_bois.jpg'); */
    background-image: url('');
    background-size: cover;
    background-position: center;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Couleur message d'erreur formulaire */
.error-message {
    color: blue;
}