h1,
h2,
h4 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.h2-style,
.p-style {
    font-family: 'Dancing Script', cursive;
}

.navcolor {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-link {
    color: black;
}

a {
    color: black;
    padding: 0px;
}

.navbar-toggler-icon {
    color: black;
}

.hamb-menu-lien {
    text-decoration: underline !important;
}

.bandeau-promo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Commence à partir du côté gauche du conteneur */
    white-space: nowrap;
    overflow: hidden;
    background-color: #b01601;
    color: white;
    padding: 20px;
    position: relative;
    /* Position relative pour le positionnement absolu du texte */
}

.bandeau-promo p {
    position: absolute;
    /* Positionnement absolu */
    left: 100%;
    /* Commence en dehors du bandeau, à droite */
    margin: 0;
    animation: defilement 25s linear infinite;
}

@keyframes defilement {
    0% {
        left: 100%;
    }

    /* Début de l'animation hors du bandeau, à droite */
    100% {
        left: -100%;
    }

    /* Fin de l'animation hors du bandeau, à gauche */
}

body>div.d-none.d-lg-block>div.bandeau-promo>p>a {
    color: white;
    text-decoration: underline;
}