<form method="post" action="{{ path('app_kitchen_delete', {'id': kitchen.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet article');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kitchen.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
