{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="container mt-3">

		<h1>Test controller ROBOTO H1</h1>
		<h2>Test controller ROBOTO H2</h2>
		<h3>Test controller QUICKSAND H2</h3>
		<h2 class="h2-style">Test controller ROBOTO H2 stylé</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quod aut obcaecati deleniti, aspernatur non architecto totam, iure ipsam cum voluptatum tempore corporis blanditiis eius, assumenda enim quibusdam at quis.</p>

	</div>


{% endblock %}
