<!DOCTYPE html>
<html>

	{% block navbar_lg_admin %}
		<div class="bandeau-promo-fixe">
			<p class="text-center py-2">Message promotionnel ici - Réduction spéciale - Annonce importante - Offre spéciale décembre 2023 -
				<a href="#">VOIR L'OFFRE</a>
			</p>
		</div>

		<div class="row navcolor px-lg-5 py-3">
			<div class="col-lg-5 d-flex justify-content-start align-items-center">
				<ul class="navbar-nav d-flex flex-row">
					<li class="nav-item">
						<a class="nav-link me-3 fw-bold" href="#">Boistyle</a>
					</li>
					<li class="nav-item">
						<a class="nav-link me-3 fw-bold" href="#">Acrystyle</a>
					</li>
					<li class="nav-item">
						<a class="nav-link me-3 fw-bold" href="#">Mélastyle</a>
					</li>
					<li class="nav-item">
						<a class="nav-link me-3 fw-bold" href="#">Lacstyle</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2 d-flex justify-content-center">
				<a class="navbar-brand" href="{{path('app_homepage_visitors')}}">
					<img src="{{ asset('images/icones/logo-robert_cuisines.webp')}}" alt="" class="img-logo">
				</a>
			</div>
			<div class="col-lg-5 d-flex justify-content-end align-items-center">
				<ul class="navbar-nav d-flex flex-row">
					<li
						class="nav-item">

						<!-- Button trigger modal tel-->
						<a type="button" class="nav-link me-3" data-bs-toggle="modal" data-bs-target="#telModal">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg>
							</span>
						</a>

						<!-- Modal tel-->
						<div class="modal fade" id="telModal" tabindex="-1" aria-labelledby="telModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="telModalLabel">N°téléphone</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										0692 86 77 45
									</div>
									<div class="modal-footer">
										<p class="p-style">Robert Cuisines</p>
									</div>
								</div>
							</div>
						</div>

					</li>
					<li
						class="nav-item">

						<!-- Button trigger modal location-->
						<a type="button" class="nav-link me-3" data-bs-toggle="modal" data-bs-target="#locationModal">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewbox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								</svg>
							</span>
						</a>

						<!-- Modal adresse-->
						<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="locationModalLabel">Adresse du showroom</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>21 Chemin Leroy, Tampon (14ème km), 97430</p>
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7437.288754750737!2d55.512681927143014!3d-21.245946076612515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2178754d36d32169%3A0xb4116f0fe53d7f60!2sROBERT%20CUISINES!5e0!3m2!1sen!2sfr!4v1701319147952!5m2!1sen!2sfr" width="770" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
									</div>
									<div class="modal-footer">
										<p class="p-style">Robert Cuisines</p>
									</div>
								</div>
							</div>
						</div>

					</li>
					<li
						class="nav-item">

						<!-- Button trigger modal horaire-->
						<a type="button" class="nav-link me-3" data-bs-toggle="modal" data-bs-target="#horaireModal">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewbox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
								</svg>
							</span>
						</a>

						<!-- Modal horaire-->
						<div class="modal fade" id="horaireModal" tabindex="-1" aria-labelledby="horaireModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="horaireModalLabel">Horaires d'ouverture</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Le magasin est ouvert du lundi au vendredi de 10h00 à 12h00 et de 13h00 à 18h00.
									</div>
									<div class="modal-footer">
										<p class="p-style">Robert Cuisines</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li
						class="nav-item">

						<!-- Button trigger modal message-->
						<a type="button" class="nav-link me-3" data-bs-toggle="modal" data-bs-target="#messageModal">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-dots-fill" viewbox="0 0 16 16">
									<path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
								</svg>
							</span>
						</a>

						<!-- Modal message-->
						<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="messageModalLabel">Nous contacter</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>Formulaire...</p>
										<p>
											<span>
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-at-fill" viewbox="0 0 16 16">
													<path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
													<path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
												</svg>
											</span>robertcuisines@orange.fr</p>
									</div>
									<div class="modal-footer">
										<p class="p-style">Robert Cuisines</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link me-3" href="https://www.facebook.com/robertcuisinesreunion">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-facebook" viewbox="0 0 16 16">
								<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	{% endblock %}
</html>
